#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 50px; */
  height: 100vh;
  font-family: inherit;
  color: var(--main-blue);
  padding: 20px;
  /* margin ve padding ekendi cunuku small screen'de navbar asağı iniyor o da görüntü açısından sorun çıkarıypr */
  margin-top: 3rem; 
}

#main-header {
  font-size: 7vh;
  overflow: hidden;
  border-right: 0.15em solid var(--main-blue);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--main-blue);
  }
  
  100% {
    border-color: transparent;
  }
}

#welcome-section p {
  font-size: 20px;
  flex-wrap: wrap;
}

.rotating-icons {
  display: flex;
  gap: 1.5rem;
}

.rotating-icons > img {
  padding: 5px;
  width: 50px;
  height: 50px;
}

.rotation:hover {
  rotate: 360deg;
  animation: rotate 1.25s infinite;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    border-radius: 30%;
    rotate: 360deg;
    background-color: var(--white);
  }
}

@media only screen and (max-width: 780px) {
  #welcome-section {
    gap: 3rem;
  }

  #welcome-section header {
    padding: 2rem;
    font-size: 1.6rem;
  }

  #welcome-section p {
    font-size: 15px;
  }

  .rotating-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  #welcome-section img {
    max-width: 20vw;
  }

  #main-header {
    white-space: normal;
  }
}