#contact {
  display: flex;
  flex-direction: column;
  background-color: var(--main-blue);
  color: var(--white);
  padding: 30px 0 10px 0;
  gap:10px;
}

#contact header {
  font-size: xx-large;
  font-weight: 600;
  color: var(--white);
}

.contact-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  list-style-type: none;
  gap: 30px;
  padding-left: 0;
}

.contact-container img {
  width: 35px;
  border-radius: 20%;
}

.owner {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 600;
}

@media only screen and (max-width: 640px) {
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 50vh;
  }

  #contact header {
    font-size: x-large;
  }

  .contact-container img {
    width: 30px;
    height: 30px;
  }

  .owner {
    padding: 0;
    padding-bottom: 1rem;
  }
}
