#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-blue);
  color: var(--white);
  padding: 30px 0px;
  height: fit-content;
}

#contact header {
  font-size: xx-large;
  font-weight: 600;
  color: var(--white);
}

.contact-container {
  padding-top: 1.5rem;
}


.contact-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.contact-container img {
  width: 40px;
  border-radius: 20%;
}

@media only screen and (max-width: 640px) {
  #contact {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    justify-content: space-between;
  }

  .contact-container ul {
    flex-direction: column;
  }

  .contact-container img {
    width: 5vh;
    height: 5vh;
  }
}
