#projects {
  padding-bottom: 5rem;
  color: var(--main-blue);
  background-color: #efe9ddac;
}

#projects-header {
  font-size: xx-large;
  font-weight: 600;
  padding: 50px 0;
}

#projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 20px;
}

#projects-container p {
  font-size: large;
}

.project-tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 5px;
  padding: 50px;
  width: 95vw;
}

.project-tile a > img {
  width: 100%;
  border-radius: 5px;
}

.project-info {
  text-align: left;
  line-height: 1.5;
}

.project-info h2 {
  text-align: center;
  font-size: x-large;
}

.project-info p {
  font-size: medium;
}

.button a {
  text-decoration: none;
}

#projects button {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 18px;
  cursor: pointer;
  background-color: var(--darker-grey);
  color: var(--main-blue);
  font-family: inherit;
  font-size: large;
  font-weight: 800;
}

#projects button:hover {
  transform: scale(0.98);
  transition: 0.3s ease-in;
  background-color: var(--light-grey);
}

#projects button:active {
  transform: scale(0.98);
}

@media only screen and (max-width: 640px) {
  .project-tile {
    display: flex;
    flex-direction: column;
  }

  #projects button {
    font-size: xx-large;
    color: var(--white);
    font-weight: bolder;
  }
}

.project-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 20px;
}

.project-link a {
  text-decoration: none;
}

@media only screen and (max-width: 912px) {
  #projects {
    padding-bottom: 50px;
  }

  #projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #projects-header {
    font-size: x-large;
    text-align: center;
    padding: 50px 0;
  }

  .project-tile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    min-width: 250px;
  }

  .project-info h2 {
    font-size: large;
  }

  #projects button {
    font-size: smaller;
    margin-top: -50px;
  }
}
