  :root {
    --main--black: #0D0C0E;
    --main-blue: #003844;
    --darker-grey: #57886C;
    --light-grey:#81A684;
    --white: #ffffff;
    --wheat: #f5deb2;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
  }

  /* NAVBAR */
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    position: fixed; 
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 10vh;
    background: var(--darker-grey);
    border: 2px solid var(--darker-grey);
    
    z-index: 1;   /* neden 10? */

  }
  
  #navbar a {
    font-size: 20px;
    text-decoration: none;
    color: var(--main-blue);
    font-weight: 500;  
  }

  #navbar a:hover {
    color: var(--wheat);
  }
  
  #navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
  }
  
  .nav-link {
    padding-right: 20px;
  }
  
  
  .navbar-container {
    padding-right: 20px;
  }

  .navbar-container img {
    display: flex;
    flex-direction: row;
    width: 30px;
    height:30px;
    gap: 10px;
    border-radius: 20%;
  }

  @media only screen and (max-width:1280px) {
    .navbar-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 20vh; 
    }

    #navbar a {
      font-size: 15px;
    }
    
    .navbar-container img {
      width: 30px;
      height:auto;
    }

    #navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
      align-items: center;
    }
  }
  
  
  /* ABOUT */
  #welcome-section {
    font-family: Georgia, sans-serif, cursive;
    background-color: var(--main--black);
    color: var(--wheat);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:50px;
  }
  
  #main-header{
    font-size: 8vh;
    font-family: inherit;
    overflow: hidden;
    border-right: .15em solid grey;    
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    
    animation:
       typing 4s steps(30, end),
       blink-caret .5s step-end infinite;
    }
    
    @keyframes typing {
      from {
        width: 0
      }
  
      to {
        width: 100%
      }
    }
  
    @keyframes blink-caret {
  
      from,
      to {
        border-color: transparent
      }
  
      50% {
        border-color: grey;
      }
    }

  #welcome-section p {
    font-size: 20px;
    flex-wrap: wrap;
  }
  
  .rotating-icons {
    display: flex;
    gap: 1.5rem;
  }
  
  .rotating-icons>img {
    padding: 5px;
    width: 50px;
    height: 50px;
  }

  .rotation:hover{
    rotate: 360deg; 
    animation: rotate 1.25s infinite;
    cursor: pointer;
  }

  @keyframes rotate {
    0% {
      rotate: 0deg;
    }
    100% {
      border-radius: 30%;
      rotate: 360deg;
      background-color: white;
    }
  }

  @media only screen and (max-width: 780px) {

    #welcome-section {
      gap: 3rem;
      padding-top: 50px;
      /* overflow: hidden; */
    }

    #welcome-section header{
     padding: 2rem;
     font-size: 1.6rem;
     /* display: flex; */
     /* flex-wrap: wrap; */
    }

    #welcome-section p{
      font-size: 15px;
    }

    .rotating-icons{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 10px;
    }

    #welcome-section img{
      max-width: 20vw;
    }
  }
  

  /* PROJECTS */
  
    #projects {
      padding-bottom: 5rem; 
      color: var(--main-blue);
      background-color: var(--white);
    }
    
    #projects-header {
      font-size: 4vh;
      padding: 50px;
    }

    #projects-container {
      display: flex;
      flex-direction: column;
      gap: 100px;
      padding:0px 20px;
      font-size: 40%;    
    }
    
    .project-tile {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      justify-content:space-between;
    }
    
    .project-tile a > img {
      width: 500px;
      border-radius: 10px;
    }
    
  .project-info {
    text-align: left;
    line-height:  1.5;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-info h3 {
    text-align: center;
  }

  .button a {
    text-decoration: none;
  }
  
  #projects button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    background-color: var(--darker-grey);
    color: var(--main-blue);
    font-family: inherit;
    font-weight: 800;
  }
  
  #projects button:hover{
    transform: scale(0.98);
    transition: .3s ease-in;
    background-color:var(--light-grey);
  }

  #projects button:active {
      transform: scale(0.98);
    }

  @media only screen and (max-width: 912px) {
    
    #projects {
      padding-bottom: 20px;
    }

    #projects-container {
     display: grid;
     grid-template-columns: 1fr;
     gap: 4rem;
    } 
    
    .project-tile {
      display: block;
      margin-left: auto;
      margin-right: auto;
    } 
    
    .project-tile img {
      max-width: 90%;
    } 

    .project-info h3 {
      font-size: 2.5vh;
    }

    button {
      padding: 2vw;
    }
  }
    
  /* FOOTER */
  footer {
    padding: 2px;
    background-color: var(--main--black);
    color: var(--white);

  }
  
  footer p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    padding-right: 5px;
  }
  
  /* footer a {
    display: flex;
    justify-self:flex-start;
    color: whitesmoke;
    font-size: 15px;
  } */

  /* footer img{
    width: 40px;
    height: auto;
  }
   */