html, body {
    height: 100vh; 
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 0;
  }
  
  /* NAVBAR */
  #navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed; 
    top: 0px;
    right: 0px;
    width: 100%;
    height: 10vh;
    font-size: 2vh;
    background: #003844;
    border: 1px solid #003844;
    z-index: 10; 
  }
  
  ul {
    list-style: none;
    display: flex; 
    flex-direction: row;  
    float: right;
  }
  
  .nav-link {
    padding-right: 20px;
  }
  
  #navbar a {
    text-decoration: none;
    color: rgb(255,255,255);  
  }

  /* @media only screen and (max-width: 780px) {
    #navbar{
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  } */
  
  /* ABOUT */
  #welcome-section {
    position: relative;  
    font-family: Georgia, sans-serif, cursive;
    height: 100vh;
    overflow: auto;
    background-image: url(./screenshots/20221023_115310.jpg);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:baseline; /* center */ 
    padding: 20px;
  }
  
  #main-header{
    /* font-size of the main header is made bigger than everything else on the page  */
    font-size: 4vh;
    position: relative; 
  }
  
  header {
    padding-top: 20px; 
    font-size: 4vh;
    /* top: 30vh; */
  } 
  
  /* h1 idi p olarak degistirildi. */
 #welcome-section p {
   position: relative; 
   font-size: 20px;
   /* padding-top: 10px; */
   /* top: 30vh;  */
  font-weight : 600; 
  }
  
  .rotation:hover{
    /* transform: perspective(200px) rotateX(20deg), rotateY(40deg), rotateZ(90deg);*/
    /* rotate: 0.25turn;  */
    rotate: 360deg; 
    animation: rotate 1.25s infinite;
  }

  @keyframes rotate {
    0% {
      rotate: 0deg;
    }
    100% {
      border-radius: 50%;
      /* width: 60px;
      height: 60px; */
      rotate: 360deg;
      background-color: white;
      /* padding: 10px; */
    }
  }

  .rotating-icons {
    display: flex;
    gap: 2rem;
  }

  @media only screen and (max-width: 780px) {

    body{
      height: 50vh; 
    }

    #main-header {
      top: 1vh;
    }	 	
    /* ????? top belki azaltılabilir. */
    #welcome-section {
      /* top: 2vh; */
      display: flex;
      flex-direction: column;
      justify-content:baseline;
      align-items:center;
      gap: 3rem;
    }

    #welcome-section header{
     padding: 2rem;
    }

    .rotating-icons{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      justify-content: center;
      align-items: center;
    }
  }
  

  /* PROJECTS */
  
    #projects {
      /* display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 40px;
      padding-bottom: 5rem; */
    }
    
    
    #projects-container {
      display: grid;
      grid-template-columns: 1fr; 
      gap: 20px;
      padding: 20px 20px;
      justify-items: center;
      align-items: center;
      font-size: 40%;    
    }
    
    img {
      max-width: 80%;
    }
    
  .project-tile {
    display: grid;
    grid-template-columns: 1fr 1fr;   
  }
  
  .project-info {
    text-align: left;
    line-height:  1.5;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-info h3 {
    text-align: center;
  }
  

  @media only screen and (max-width: 780px) {
    
    #projects {
      padding-bottom: 20px;
    }

    #projects-container {
     display: grid;
     grid-template-columns: 1fr;
     gap: 4rem;
    } 
    
    .project-tile {
      display: block;
      margin-left: auto;
      margin-right: auto;
    } 
    
    img {
      max-width: 80%;
    } 

    .project-info h3 {
      font-size: 3vh;
    }
  }
  

  /* CONTACT */
  #contact{
    /* height: 100vh;
    overflow: visible; */
    /* height: auto; */
    background-color: #003844;
    color: rgb(255,255,255)s;
    padding-bottom: 10px;
  }
  
  #contact-container {
    display: grid;
    grid-auto-flow: column;
    font-size: 20px;
    font-weight: 600;
    padding-top: 1%; 
    /* color: #3b1271; */
  }

  #contact header, #contact-container a {
    color: rgb(255,255,255);
  }

  /* TODO : icons to be changed.... */
  #contact-container img {
    border-radius: 20%;
    /* padding: 10px; */
    /* border: 0.5px white solid;  */
  }


  @media only screen and (max-width:780px) {
    #contact {
      display: flex;
      flex-direction: column;
      height: 20vh; 
      justify-content: space-between;
      overflow: auto;
    }

    #contact img {
      width: 5vh;
      height: 5vh;
    }

  }
  
  
  
  